<script>
  async function on_submit() {
    var number = document.getElementById('number').value;
    var language = document.getElementById('language').value;
    var config = {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    }
    uuid_url = '/api/file/last/' + number + '/language/' + language
    var response = await fetch(uuid_url, config);

    var output_field = document.getElementById('output');
    output_field.innerText = JSON.stringify(await response.json(), null, 2);
  }
</script>

<div>
  <label>Number:</label><br>
  <textarea id="number" rows="2" type="number">3</textarea><br>

  <label>Language:</label><br>
  <textarea id="language" rows="2">en</textarea><br>

  <button type="button" onclick="on_submit()">Submit</button>
</div>

<div id="output"></div>
<br />
