<script>
  async function on_submit() {
    var uuid = document.getElementById('namee').value;
    var config = {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    }
    uuid_url = '/api/file/query/uuid/' + uuid + '/language/fr'
    var response = await fetch(uuid_url, config);

    var output_field = document.getElementById('output');
    output_field.innerText = JSON.stringify(await response.json(), null, 2);
  }
</script>

<div>
  <label for="namere">UUID:</label><br>
  <textarea id="namee" name="namee" rows="2" cols="50"></textarea><br>

  <button type="button" onclick="on_submit()">Submit</button>
</div>

<div id="output"></div> <br />
